name: release

on:
  release:
    types: [published]

jobs:
  create-package-version:
    uses: ./.github/workflows/create-package-version.yml
    with:
      branch: main
    secrets: inherit

  promote-package-version:
    runs-on: ubuntu-latest
    needs: create-package-version
    steps:
      - name: Set environment variables
        run: |
          echo "SFDX_DISABLE_AUTOUPDATE=true" >> $GITHUB_ENV
          echo "SFDX_DISABLE_SOURCE_MEMBER_POLLING=true" >> $GITHUB_ENV
          echo "SFDX_DISABLE_TELEMETRY=true" >> $GITHUB_ENV
          echo "SFDX_PROJECT_AUTOUPDATE_DISABLE_FOR_PACKAGE_VERSION_CREATE=true" >> $GITHUB_ENV

      - name: Install sfdx and connect to DevHub
        run: |
          npm install --global sfdx-cli
          echo ${{ secrets.DEVHUB_URL }} > sfdx_auth
          sfdx force:auth:sfdxurl:store -f sfdx_auth -d -a hub
          sfdx config:set defaultdevhubusername=hub --global

      - name: Checkout
        uses: actions/checkout@v3

      - name: Promote latest main package version
        run: sfdx force:package:version:promote -n -p ${{ needs.create-package-version.outputs.packageId }}

  update-release:
    runs-on: ubuntu-latest
    needs: create-package-version
    steps:
      - name: Create package links
        run: |
          packageId=${{ needs.create-package-version.outputs.packageId }}
          links=$(cat << EOF
          Unlock package installation:
          - Production [link](https://login.salesforce.com/packaging/installPackage.apexp?p0=$packageId)
          - Sandbox [link](https://test.salesforce.com/packaging/installPackage.apexp?p0=$packageId)
          - sfdx command: `sfdx force:package:install --package $packageId`
          EOF
          )
          echo "links=$links" >> $GITHUB_ENV

      - name: Update release with package Id
        uses: irongut/EditRelease@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          id: ${{ github.event.release.id }}
          body: ${{ env.links }}
          replacebody: false
